.movieinfo {
    background-color: rgb(94, 90, 90);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin: 50px auto;
    width: 900px;
}

.image-container {
    padding: 20px;
    img {
        width: 100%;
        height: auto;
    }
}

.info-movie {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    padding: 15px 10px 15px 0;
    h1 {
        text-transform: uppercase;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        color: #fff;
        font: 600 3rem $bodyFont;
    }
    h2 {
        color: #fff;
        font: 600 1.3rem $bodyFont;
    }
}
