.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $black;
	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 30px;
	color: #FFF;
}

.popup .content h2 {
	font: 400 35px $mainFont;
	letter-spacing: 2px;
}

.popup .content .rating {
	margin-bottom: 30px;
	font: 600 30px $bodyFont;
}

.popup .content i {
	color: yellow;
}

.popup .content .extra {
	font: 600 15px $bodyFont;
	padding: 10px 0;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 15px;
	background-color: white;
	border: 8px solid $pink;
	border-radius: 4px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
	font: 400 20px $bodyFont;
	line-height: 2rem;
}
.btn-close {
	font-size: 40px;
	font-weight: 700;
	border: none;
	outline: none;
	appearance: none;
	background: none;
	i {
		color: $mav;
		padding: 20px;
	}
}

.btn {
	display: inline-block;
	padding: 15px;
	font-size: 18px;
	font-weight: 700;
	background: $mav;
	color: #FFF;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	transition: 0.4s ease-out;
	margin: 0 10px;
}

.btn:hover,
.btn:focus {
	background: $pink;
}
