@import './sass/setup';
@import './sass/variables';
@import './sass/searchbar';
@import './sass/dashboard';


@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: $mainFont;
    font-size: 45px;
    color: #fff
}

h3 {
    text-align: center;
    font-family: $mainFont;
    font-size: 30px;
    padding: 15px;
    color: #fff;
}

body {
    background-color: $black;
}

main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
